header{
    background-color:#fff;
    color:#70142a;
    padding:1 rem;
    text-align:center;
    font-family:'Courier New', Courier, monospace
  }

  h1{
    padding:0.5rem;
  }

  nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color:#70142a;
}

nav a:hover{
  color:#f43580;
}

nav a:visited{
  color:#70142a; 
}
  
  body{
    background-image: url(../images/pinktech.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
